body{
    font-family:Arial;
    background:#0f172a;
    color:white;
    padding:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    margin:20px 0px;
    border-radius: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td,th{
    padding:8px;
    border-bottom: 1px solid 334155;
}